/* SCRIPT FOR GRID ALIGNMENT ONLY */

/* makes a 12 column layout -  each box is separated using gap */
.grid-container {
  display: grid;
  grid-template-columns: repeat(16, [col-start] 1fr);
  row-gap: 50px;
  margin-top: 25px; /* adds some white space to the top of the page */
}

/* ----- where the element should start from ----- */

.start-column-2 {
  /* leaves some nice whitespace on the left side of the element */
  --start-column: col-start 2;
}

.start-column-center {
  --start-column: col-start 7;
}

.start-column-14 {
  --start-column: col-start 12;
}

/* ----- how many boxes across should this element stretch ----- */

.span-2 {
  --span-amount: span 2;
}

.span-3 {
  --span-amount: span 3;
}

.span-4 {
  --span-amount: span 4;
}

.span-8 {
  --span-amount: span 8;
}

.span-all {
  --span-amount: span 14;
}

/* ----- all children of the grid-container class ----- */
/* .grid-container * {
  grid-column: var(--start-column) / var(--span-amount);
} */

.grid-container * {
  grid-column: col-start 2 / span 14; /* makes sure each grid element is on it's own line */
}
