@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oxygen&family=Roboto&display=swap");

:root {
  --highlight-font: "Oxygen", Arial;
  --normal-font: "Roboto", Arial;
  --big-font: "Bebas Neue", Arial;

  font-family: var(--normal-font);
}

/* ----- MISC STYLE ----- */

.left-right-margin {
  margin: 0 0.75em 3em 0.75em; /* pushing the card in from the left and right and pushing elements below it down*/
}

/* ----- HEADER ----- */

.main-header {
  font-family: var(--big-font);
  font-size: 6rem;
  margin-bottom: 1.25em;
  text-align: center;
}

.header-content {
  display: flex;
  margin-top: 0.5em;
  flex-direction: row;
  gap: 10px;
}

.header-content * {
  width: 100%;
}

/* ----- EPISODE CARDS ----- */

/* parent for all the cards */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 55px;
  margin-top: 4em; /* adds some white space above the element */
}

.card {
  height: 750px;
  width: 450px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* episode title */
.card-header {
  margin-top: 30px;
  font-size: 3rem;
  font-family: var(--big-font);
}

/* season and episode number */
.episode-info {
  display: block; /* aligns both the text elements on different lines */
  opacity: 0.5;
  text-align: right;
}

.card-image {
  width: 420px;
  aspect-ratio: 25 / 14; /* Medium image: 250x140, that simplified is 25/14 */
  margin: 20px 0 40px 0; /* top and bottom margin for some nice whitespace */
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

/* episode summary */
.card-text {
  padding: 0 15px; /* pushes the text in from the left and right */
  font-size: 1.5rem;
  text-align: left;
}

/* ----- FOOTER ----- */

.footer {
  display: flex;
  border-top: 3px solid black;
  margin-top: 5em;
  justify-content: flex-end; /* aligns items to the right of the container */
}

.footer-text {
  margin-top: 1em; /* adds some whitespace to the top */
  font-size: 1.2rem;
}

.footer-link {
  border-bottom: 2px dotted black;
  padding: 0 6px 3px 6px;
  font-family: var(--highlight-font);
}

.footer-link:hover,
.footer-link:focus {
  color: blue;
  border-color: blue;
  transition-duration: 300ms;
}
