@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

:root {
  --highlight-font: "Bebas Neue", Arial;
  --normal-font: "Roboto", Arial;

  font-family: var(--normal-font);
}

/* spaces the elements where I want */
.header-content {
  display: flex;
  justify-content: space-between; /* aligns the search bar to the left and the buttons to the right */
  align-items: center;
}

.hamburger-menu-btn {
  max-width: 30px;
  cursor: pointer;
}

.radio-btn-container {
  display: flex;
  white-space: nowrap; /* keeps the text on one line */
  justify-content: flex-end;
  display: none;
}

.radio-btn-container label {
  margin-left: 0.3em; /* pushes the checkbox and label apart */
}

.main-header {
  font-family: var(--highlight-font);
  font-size: 3rem;
  white-space: nowrap; /* text stays on one line */
}

.card-container {
  text-align: center;
  margin-top: 4em; /* adds some white space above the element */
}

.card {
  display: flex;
  flex-direction: column;
  min-height: 550px;
  max-height: 550px; /* so all the cards are the same height */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-header {
  margin-top: 30px;
  font-size: 2rem;
  font-family: var(--highlight-font);
}

.episode-info {
  display: block;
  opacity: 0.5;
}

.card-image {
  align-self: center;
  min-width: 200px;
  aspect-ratio: 25 / 14; /* Medium image: 250x140, that simplified is 25/14 */
  margin: 20px 0; /* top and bottom margin for some nice whitespace */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-text {
  overflow: hidden; /* so no text can overflow */
  padding: 0 20px; /* pushes the text in from the left and right */
  font-size: 0.9rem;
}
